*
!.cht_language_list.txt
!.harpoon_on_steroids_data.txt
!.harpoon_on_steroids_data.txt.bak
!.modules_list.txt
!cht.sh
!color.sh
!converter.sh
!copy_to_flat.py
!exe.txt
!exit.sh
!.cht_language_list.txt
!.gitignore
!.harpoon_on_steroids_data.txt
!.harpoon_on_steroids_data.txt.bak
!.cht_language_list.txt
!.gitignore
!.harpoon_on_steroids_data.txt
!.harpoon_on_steroids_data.txt.bak
!.modules_list.txt
!cht.sh
!color.sh
!converter.sh
!copy_to_flat.py
!exe.txt
!exit.sh
!fzf_pydocs.sh
!gitacp.sh
!harpoon_on_steroids.sh
!jpg_to_png.sh
!main.py
!main_test.py
!main_test1.py
!make_gitignore.sh
!nigger.txt
!sys
!tcam.py
!test.sh
!update_pydocs.py
!__pycache__/tcam.cpython-312.pyc
!scripts/usr-local-bin/enable_managed_mode
!scripts/usr-local-bin/enable_monitor_mode
