[mgr]
show_hidden = true
ratio = [1,3,4]
linemode = "permissions"
sort_by = "natural"
show_symlink = true

[preview]
wrap = "yes"
image_filter = "nearest"

[opener]
edit = [
    { run = 'nvim "$@"', block = true },
]
image=[
    {run = 'feh "$@"', block = true}
]
pdf=[
    {run = 'zathura "$@"', block = true}
]
html=[
    {run = 'brave "$@"', block = true}
]
video = [
     # { run = 'mpv "$@"', desc = "Play video", orphan = true, confirm = false, block = true }
    { run = 'nohup mpv "$@" >/dev/null 2>&1 &', desc = "Play video", confirm = false }
]

[open]
rules = [
    { name = "*.jpg", use = ["image"] },
    { name = "*.png", use = ["image"] },
    { name = "*.txt", use = ["edit"] },
    { name = "*.py", use = ["edit"] },
    { name = "*.r", use = ["edit"] },
    { name = "*.ru", use = ["edit"] },
    { name = "*.cp", use = ["edit"] },
    { name = "*.cpp", use = ["edit"] },
    { name = "*.c", use = ["edit"] },
    { name = "*.sh", use = ["edit"] },
    { name = "*.json", use = ["edit"] },
    { name = "*.pdf", use = ["pdf"] },
    { name = "*.html", use = ["html"] },
    # { name = "*.mp4", use = ["video"] },
    # { name = "*.webm", use = ["video"] },
    # { name = "*.mpv", use = ["video"] },
    { mime = "video/*", use = "video" },
    { name = "*", use = ["edit"] },
]
